{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Derbichev Mikhail">
    <meta name="description" content="Django developer">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content=""/>
    <meta property="og:url" content="http://derbichev.com/"/>
    <title>Dervichev Mikhail</title>

    <style>
        body {
            background: url('{% static 'images/bg.jpg' %}') !important;
            background-position: center center !important;
            background-size: cover !important;
        }
    </style>

    <!--	<link rel="icon" href="" type="image/x-icon">-->
    <!--    <link rel="shortcut icon" href="" type="image/x-icon">-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel='stylesheet' href='{% static 'css/style.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'css/owl.carousel.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'css/owl.theme.default.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'css/colorpicker.css' %}'>
    <link rel='stylesheet' type='text/css' href='{% static 'css/font-awesome.min.css' %}'>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel='stylesheet' href='{% static 'css/style.css' %}'>

    <script type='text/javascript' src='{% static 'js/jquery.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/all.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/owl.carousel.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/jquery.forms.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/jquery-ui.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/clipboard.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/colorpicker.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/jquery.mobile-events.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/jquery.ui.touch-punch.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/qrcode.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/download.js' %}'></script>


    <style>
        .ui-draggable-handle {
            -ms-touch-action: initial !important;
            touch-action: initial !important
        }

    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '');
    fbq('track', 'PageView');
</script>


<div id="mobile_menu" style="float: right; margin-top: 5px; margin-bottom: 5px;">
    <!--
    <button class="left"  onclick="A.P.showLeftbar()">Профиль</button>
    -->
</div>


<div class="row content" style="display: flex; justify-content: space-between; position: relative;
  top: 50%;
  transform: translateY(-50%); ;  ; ">
    <div class="  col-xs-12 block-w " id="page"
         style="background: none !important; border: none !important ;					">

        <div class="cont" style="">
            <div class="papaya" id="cont_back"
                 style="background: url('{% static 'images/pixel_30.png' %}') !important; background-position: center center; background-size: cover;">
                <div class="hover"></div>
                <div id="ava" class="tbclear">


                    <div class="d">
                        <div class="ava"
                             style="background-image: url({% static 'images/ava.jpg' %})"></div>
                        <div class="info">
                            <div class="name" id="name">Derbichev Mikhail</div>
                            <div class="text" id="hello">Django developer</div>
                        </div>
                    </div>
                </div>
                <div class="apps d owl-carousel" id="apps">

                </div>
                <div id="fake_apps">
                    <a data-type="skype" onclick="statLink(2209,'skype')" href="skype:arhangel66g" class="app skype">
                        <div class="icon skype"></div>
                        <div class="title">Skype</div>
                    </a>
                    <a data-type="mail" onclick="statLink(2209,'upwork')"
                       href="https://www.upwork.com/fl/mikhailderbichev" class="app upwork">
                        <div class="icon mail"></div>
                        <div class="title">Upwork profile</div>
                    </a>
                    <a data-type="mail" onclick="statLink(2209,'mail')" href="mailto:django@derbichev.com"
                       class="app mail">
                        <div class="icon mail"></div>
                        <div class="title">Send email</div>
                    </a>

                    <a data-type="fb" onclick="statLink(2209,'fb')" href="https://fb.com/100000918385039"
                       class="app fb">
                        <div class="icon fb"></div>
                        <div class="title">Facebook</div>
                    </a>
                    <a data-type="tg" onclick="statLink(2209,'tg')" href="https://t.me/derbichev_m" class="app tg">
                        <div class="icon tg"></div>
                        <div class="title">Telegram</div>
                    </a>
                    <a data-type="wa" onclick="statLink(2209,'wa')"
                       href="https://api.whatsapp.com/send?phone=+79090706997&text=" class="app wa">
                        <div class="icon wa"></div>
                        <div class="title">Whatsapp</div>
                    </a>


                    <a data-type="viber" onclick="statLink(2209,'viber')" href="viber://add?number=79090706997"
                       class="app viber">
                        <div class="icon viber"></div>
                        <div class="title">Viber</div>
                    </a>


                    <a data-type="vkp" onclick="statLink(2209,'vkp')" href="https://vk.com/arh66" class="app vkp">
                        <div class="icon vkp"></div>
                        <div class="title">Vk.com page</div>
                    </a>


                </div>
            </div>
        </div>
    </div>
    <!-- Блок с виджетом конец -->

    <!-- Блок с настройками -->


</div>


</body>
</html>
