@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	height: 100%;
}

.row { margin: 0; width: 100%;}

.block_1 {
	background: url(img/bg.jpg) center center;
	background-size: cover;	
	padding: 0;
}

.darkness {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	box-sizing: border-box;
}

/* Верхнее меню - начало */
.main-menu {
	margin-top: 20px;
	background: transparent;
	border: none;
}

.main-menu .navbar-collapse {
	border-top: none !important;
	box-shadow: none !important;
}

.main-menu .navbar-toggle {
	background: #333;
}

.main-menu .navbar-nav>li:not(:first-child) {
	margin-left: 10px;
}

.main-menu .navbar-nav>li>a {
	color: #FFF;
	font-size: 16px;
}

.main-menu .navbar-nav>li>.btn {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.main-menu .navbar-white .btn-clean, .main-menu .navbar-white .btn-transparent{
	color: #636363;
}

.main-menu .navbar-white .btn-clean:hover, .main-menu .navbar-white .btn-transparent:hover {
	color: #333;
}

.main-menu .navbar-white .btn-transparent {
	border: 1px solid #636363;
}

.btn-transparent {
	background: transparent;
	border: 1px solid #FFF;
	transition: all 0.1s linear;
}

.btn-transparent:hover {
	background: #FFF !important;
	color: #636363 !important;
}

.btn-danger {
	background: #c74a4f;
	border: 1px solid #c74a4f;
}

.btn-danger:hover {
	background: #d9534f !important;
	box-shadow: none;
	border: 1px solid #d9534f;
}

.btn-primary {
	background: #2196f3;
	border: 1px solid #2196f3;
}

.btn-primary:hover {
	background: #62b8fc !important;
	box-shadow: none;
	border: 1px solid #62b8fc;
}

.navbar-brand {
	padding: 0;
}
/* Верхнее меню - конец */

/* Инстаграм блок - начало */
.insta_block {
	margin-top: 100px;
	margin-bottom: 100px;
}

.insta_block h1 {
	line-height: 1.4em;
	color: #FFF;
	font-size: 32px;
	text-shadow: 0 0 0.5em rgba(194, 35, 108, 0.2);
}

.insta_block p {
	line-height: 1.5em;
	margin-top: 40px;
	color: #FFF;
	font-size: 22px;
	text-shadow: 0 0 0.5em rgba(194, 35, 108, 0.2);
}

.insta_block .inputEmail {
	background: transparent;
	border: 1px solid #FFF;
	border-radius: 4px;
	color: #FFF;
	padding: 5px 10px;
	font-size: 18px;
	width: 320px;
	margin-right: 20px;
	text-shadow: 0 0 0.5em rgba(194, 35, 108, 0.3);
}

.insta_block img{
	height: 100px;
}

.insta_block .btn-primary {
	padding: 10px 30px;
	font-size: 18px;
	border-radius: 20px;
	background: #2196f3;
	border: 1px solid #2196f3;
}

.insta_block .btn-primary:hover {
	background: #62b8fc;
	box-shadow: none;
	border: 1px solid #62b8fc;
}

.social_block {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}

.social_block i {
	color: #fff;
	font-size: 28px;
	border: 1px solid #FFF;
	border-radius: 50%;
	padding: 6px;
	height: 42px;
	width: 42px;
	text-align: center;
}

.social_block>a:not(:first-child) {
	margin-left: 10px;
}

/* Инстаграм блок - конец */

/* Блок инфо - начало */
.breadcrumps{
	margin-bottom: 50px;
}

.breadcrumps a{
	color: #636363;
	font-size: 16px;
}

.block_2 {
	padding-bottom: 100px;
}

.block_2 h2 {
	color: #7a898c;
	font-weight: 400;
	font-size: 38px;
	line-height: 1.3em;
	font-family: Segoe UI;
}

.block_2 p {
	color: #7a898c;
	font-family: Segoe UI;
	font-size: 18px;
}

.block_2 .text{
	color: #7a898c;
	margin-top: 50px;
	font-size: 22px;
}

.block_2 .text .desc{
	display: block;
	font-size: 16px;
	text-align: justify;
	margin-left: 45px;
}

.block_2 .text .li {
	margin-top: 20px;
}

.marker {
	width: 25px;
	height: 25px;
	background: #2196f3;
	border-radius: 4px;
	float: left;
	margin-right: 20px;
	margin-top: 3px;
}

.block_2 .img {
	display: flex;
	align-items: center;
}

.block_2 .img img {
	width: 90%;
	margin: 0 auto;
	border-radius: 50%;
	-webkit-box-shadow: 15px -15px 2px 0 rgba(237,246,254,1);
	-moz-box-shadow: 15px -15px 2px 0 rgba(237,246,254,1);
	box-shadow: 15px -15px 2px 0 rgba(237,246,254,1);
}

.row-flex {
    display: flex;
    flex-flow: row wrap;
}
/* Блок инфо - конец */

/* Блок регистрации - начало */
.block_3 {
	background: rgb(186,65,179); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(186,65,179,1) 0%, rgba(211,91,131,1) 43%, rgba(255,192,160,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(186,65,179,1) 0%,rgba(211,91,131,1) 43%,rgba(255,192,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(186,65,179,1) 0%,rgba(211,91,131,1) 43%,rgba(255,192,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba41b3', endColorstr='#ffc0a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 50px 0;
	box-sizing: border-box;
}

.block_3 h1 {
	color: #FFF;
	text-align: center;
	margin-bottom: 50px;
}

.block_3 h2 {
	margin: 0;
	color: #FFF;
	font-family: Segoe UI Light;
	margin-bottom: 0;
}

.block_3 p {
	margin: 0;
	color: #EEE;
	font-size: 18.1px;
	font-family: Segoe UI Light;
}

.block_3 .btn {
	margin: 0;
	height: 100%;
	width: 100%;
	background: #FFF;
	color: #cb62a3;
	border-radius: 20px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.block_3 form {
	width: 100%;
}

.block_3 form input[type=email], .block_3 form input[type=password] {
	border: none;
	text-align: center;
	padding: 20px 10px;
	margin-top: 20px;
	-webkit-box-shadow: 0px 0px 20px -3px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 20px -3px rgba(0,0,0,1);
	box-shadow: 0px 0px 20px -3px rgba(0,0,0,1);
	border-radius: 3px;
}

.block_3 form .btn1 {
	display: block;
	width: 280px;
	max-width: 100%;
	border: none;
	background: #555d5f;
	color: #FFF;
	border-radius: 15px;
	padding: 10px;
	margin: 40px auto;
}

.block_3 h3 {
	font-family: Segoe UI Light;
	color: #FFF;
	font-size: 22px;
	text-align: center;
}
/* Блок регистрации - конец */

/* Блок футера - начало */
.block_footer{
	background: #555d5f;
	padding: 30px 0;
	border-bottom: 1px solid #FFF;
}

.block_footer .links {
	float: right;
}

.block_footer .links .btn {
	margin-top: 10px;
	font-size: 16px;
	color: #FFF;
}

.footer_bottom {
	background: #4c5254;
	padding: 30px 0;
	color: #FFF;
}

.footer_bottom .copy {
	text-align: center;
	margin-top: 10px;
}

.footer_bottom .email {
	text-align: right;
	margin-top: 10px;
}

#scrolling { /* Carousel Frame */
    
	height: 300px;
	margin-top: 100px;
	position: relative;
}

#scrolling .iphone {
	position: absolute;
	top: -53px;
	width: 200px;
	left: calc(50% - 100px);
}

#scrolling ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#scrolling ul li {
    float: left;
	margin-left: 25px;
	margin-right: 25px;
}

#scrolling ul .itemslide-active {

}

#scrolling ul li img {
    height: 300px;
	width: 170px;
}

/* Блок футера - конец */

/* Блок тарифы - начало */
.tarif {
	width: 100%;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 20px 2px rgba(33,150,243,0.27);
	-moz-box-shadow: 0px 0px 20px 2px rgba(33,150,243,0.27);
	box-shadow: 0px 0px 20px 2px rgba(33,150,243,0.27);
}

.tarif h3{
	width: 100%;
	text-align: center;
	background: #8a37cf;
	color: #FFF;
	padding: 15px 0;
	border-radius: 8px 8px 0 0;
	font-size: 20px;
}
.tarif ul {
	list-style-type: disc;
	margin: 20px 0;
	padding-right: 10px;
	font-size: 14px;
}

.tarif ul li {
	color: #2196f3;
	margin-bottom: 10px;
}

.tarif ul li span {
	color: #939393;
}

.tarif .price {
	width: calc(100%-40px);
	text-align: center;
	margin: 10px 20px;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	padding: 10px 0;
	font-weight: bold;
	color: #939393;
	box-sizing: border-box;
}

.tarif .price span {
	color: #fdbc69;
	font-size: 20px;
}

.tarif .btn {
	display: block;
	width: calc(100%-40px);
	margin: 20px;
	margin-bottom: 5px;
	background: #8a37cf;
	color: #FFF;
	border-radius: 20px;
	padding: 10px 20px;	
	box-sizing: border-box;
}

.tarif-2 h3 { background: #ba1a7d; }
.tarif-2 .btn { background: #ba1a7d; }

.tarif-3 h3 { background: #e0983e; }
.tarif-3 .btn { background: #e0983e; }

.tarif-4 h3 { background: #c74a4f; }
.tarif-4 .btn { background: #c74a4f; }
/* Блок тарифы - конец */

.big-screen {
	min-height: calc(100% - 303px);
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	align-items: center;
}

#ava {
	border-top-left-radius: 15px !important;
	border-top-right-radius: 15px !important;
}

@media screen and (min-width: 1200px) and (max-width: 1223px){
	.block_3 h2 {font-size: 28px;}
	.block_3 p {font-size: 16.9px;}
}

@media screen and (min-width: 990px) and (max-width: 1047px){
	.block_3 h2 {font-size: 28px;}
	.block_3 p {font-size: 16.9px;}
}

@media screen and (min-width: 768px) and (max-width: 990px){
	.block_3 h2 {font-size: 24px;}
	.block_3 p {font-size: 14.5px;}
	.block_3 .btn {font-size: 16px;}
	
	.tarif ul li, .tarif .price { font-size: 20px; }
	.tarif .btn, .tarif h3, .tarif .price span { font-size: 32px; }
}

@media screen and (min-width: 768px) and (max-width: 850px){
	.block_3 h2 {font-size: 20.7px;}
	.block_3 p {font-size: 12.5px;}
}

@media screen and (max-width: 767px){
	.block_2 h2 {text-align: center;}
	.block_2 .text {text-align: center;}
	.block_2 .img img {width:50%; margin-top: 50px;}
	
	.block_3 h2 {text-align: center;}
	.block_3 p {text-align: center;}
	.block_3 .btn_block {margin-top: 20px;}
	
	.social_block { justify-content: center; }
	.footer_bottom .email{ text-align: center; }
}

@media screen and (min-width: 420px) and (max-width: 767px){
	.tarif ul li, .tarif .price { font-size: 20px; }
	.tarif .btn, .tarif h3, .tarif .price span { font-size: 32px; }
}

@media screen and (min-width: 768px) and (max-width: 880px) {
	.main-menu .navbar-nav>li>a {font-size: 12px;}
	.main-menu .navbar-nav li .btn-clean { padding-right: 0; padding-left: 0;}
}

@media screen and (min-width: 880px) and (max-width: 930px) {
	.main-menu .navbar-nav>li>a {font-size: 14px;}
}

@media screen and (max-width: 600px){
	.insta_block p, .insta_block h1 { text-align: center; }	
	.insta_block .inputEmail { margin-right: 0; margin-bottom: 10px; width: 100%; }
	.insta_block .btn-primary { width: 100%; }	
	.insta_block img { width: 100%; height: auto; }

}

@media screen and (max-width: 600px){
	.block_3 .btn { font-size: 15px; }
	.block_2 h2 { font-size: 32px }	
}

@media screen and (max-width: 706px){
	.block_footer { text-align: center; }
	.block_footer .links{ float: none; }
}

@media (min-width: 1400px) {
.row{
   max-width: 1400px !important; 
   margin: 0 auto !important;
  }
}

@media (min-width: 988px) {

	[class^="col"] {
		float: left;
	}

	.col-1 {
		width: 8.3333%;
	}

	.col-2 {
		width: 16.6667%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.3333%;
	}

	.col-5 {
		width: 41.6667%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 58.3333%;
	}

	.col-8 {
		width: 66.6667%;
	}

	.col-9 {
		width: 75%;
	}

	.col-10 {
		width: 83.3333%;
	}

	.col-11 {
		width: 91.6667%;
	}

	.col-12 {
		width: 100%;
	}

}

/* == MOBILE-ONLY == */

@media (max-width: 1288px) {

	.t-container .table-row {
		display: table;
		vertical-align: middle;
	}

	.t-container [class^="col"] {
		display: table-cell;
		vertical-align: middle;
	}

	.m-text-center {
		text-align: center;
	}

	.m-padding {
		padding: 0;
	}

	.m-hide {
		display: none;
	}

	.slick-slider {
		overflow: hidden;
	}

	.slick-slide {
		float: left;
	}

	.slick-dots {
		display: block;
		margin: 20px 0;
		text-align: center;
	}

	.slick-dots li {
		display: inline-block;
		width: 10px;
		height: 10px;
		border: #cecfe9 solid 1px;
		border-radius: 5px;
		overflow: hidden;
		margin: 0 2.5px;
	}

	.slick-dots .slick-active::after {
		display: block;
		content: "";
		width: 6px;
		height: 6px;
		background: #a1abce;
		border-radius: 50%;
		margin: 1px;
	}

	.slick-dots li button {
		display: none;
	}

}

.logo {
	width: 100%;
	height: 49px;
	background: url(/public/images/logo.png) no-repeat;
	background-size: contain;
	margin-top: 20px;
	background-position-x: right;
}
